/* In your global CSS file (e.g., index.css or tailwind.css) */
@font-face {
  font-family: "Roboto";
  src: url("../Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 900; /* Black weight */
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("../Roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: 900; /* Black weight */
  font-style: normal;
}
